body {
    background-color: antiquewhite;
}
.wrapper {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    height: 500px;
    width: 310px;
    justify-content: center;
    align-items: center;
    background-color: #999ca9;
    border-radius: 66px;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;
}

.output {
    height: 20%;
    width: 100%;
}

.controlPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.operators {
    display: flex;
    width: 100%;
    height: 100%;
}

button {
    width: 25%;
    height: 100%;
    font-size: 30px;
    color: #4e1a1a;
    border-radius: 50%;
    border: 1px solid;
    outline:none;
}

input {
    width: 96%;
    height: 70%;
    outline:none;
    font-size: 30px;
}

.clear {
    width: 50%;
}